<ul class="list-group list-group-flush">
  <li class="list-group-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/services">Сервисы</a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/gallery">Галлерея</a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/projects">Проекты</a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/web-projects">Web-Проекты</a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/mobile-apps">Мобильные приложения</a>
  </li>
</ul>
